<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <app-logo [logo]="false"></app-logo>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
      </li>
    </ul>
    <div *ngIf="auth.user | async; then authenticated else guest"></div>
  </div>
</nav>
<div *ngIf="alertService.alerts.length">
  <div class="container position-absolute" style="left: 20%; right: 20%; z-index: 2000;">
    <div *ngFor='let alerts of alertService.alerts'>
      <app-alert [type]="alerts.alertParams.type" [strongStart]="alerts.alertParams.strongStart" [message]="alerts.alertParams.message" [strongEnd]="alerts.alertParams.strongEnd"></app-alert> 
    </div>
  </div>
</div>

<!-- NG TEMPLATES -->

<!-- User NOT logged in -->
<ng-template #guest>
  <ul class="navbar-nav mr-5">
    <li class="nav-item">
      <a class="nav-link" routerLink="/login"> <i class="fa fa-sign-in"></i> Login</a>
    </li>
  </ul>
</ng-template>

<!-- User logged in -->
<ng-template #authenticated>
  <ul class="navbar-nav mr-5">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false" *ngIf="auth.user | async as user">
        <i class="fa fa-user"></i> {{ user.displayName }}
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item disabled" [routerLink]="" >Profile</a>
        <a class="dropdown-item disabled" [routerLink]="">Some Action</a>
        <a class="dropdown-item" [routerLink]="" (click)="signOut()">Sign Out</a>
      </div>
    </li>
  </ul>
</ng-template>