<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Ninshiki API</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
        <!-- <a routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a> -->
      <a routerLink="/home" routerLinkActive="active" class="nav-item nav-link" href="home">Home</a>
      <a routerLink="dashboard" routerLinkActive="active" class="nav-item nav-link" href="dashboard">Dashboard</a>
      <a class="nav-item nav-link" href="#">About</a>
      <a class="nav-item nav-link" href="#">Contact</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/OrishaOrrie/SoftwareSharks" target="_blank">
        <i class="fa fa-github"></i>
      </a>
    </div>
  </div>
</nav>