<!-- <nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Ninshiki API</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a routerLink="/home" routerLinkActive="active" class="nav-item nav-link" href="home">Home</a>
      <a routerLink="dashboard" routerLinkActive="active" class="nav-item nav-link" href="dashboard">Dashboard</a>
      <a class="nav-item nav-link" href="#">About</a>
      <a class="nav-item nav-link" href="#">Contact</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav" *ngIf="auth.user | async; then authenticated else guest">
      <a class="nav-item nav-link" href="https://github.com/OrishaOrrie/SoftwareSharks" target="_blank">
        <i class="fa fa-github"></i>
      </a>
    </div>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" target="_self">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!-- NG TEMPLATES -->

<!-- User NOT logged in -->
<ng-template #guest>
  <a routerLink="login" class="nav-item nav-link" href="login">
    <i class="fa fa-sign-in"></i> Login
  </a>
</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
  <a *ngIf="auth.user | async as user" class="nav-item nav-link" href="https://github.com/OrishaOrrie/SoftwareSharks"
    target="_blank">
    <i class="fa fa-user"></i> {{ user.displayName }}
  </a>
  <div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown link
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
</ng-template>