<button type="button" class="btn btn-info" data-toggle="modal" data-target="#editModelModal" (click)="setCurrentModel();">
    <i class="fa fa-pencil-square-o"></i> Edit
</button>
<!-- (click)="deleteModel(model.id)" -->
<div class="modal fade text-dark" id="editModelModal" tabindex="-1" role="dialog" aria-labelledby="editModelModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-light bg-dark">
                <h5 class="modal-title" id="editModelModalLabel">Edit Model</h5>
                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editModelForm" (ngSubmit)="onSubmit()">
                    <div class="form-group row">
                        <label for="modelNameInput" class="col-sm-12 col-form-label">Model Name</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="modelNameInput" placeholder="Enter Model name"
                                formControlName="name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label">Categories</label>
                        <div class="col-sm-12" formArrayName="categories">
                            <div *ngFor="let address of categories.controls; let i=index">
                                <div class="input-group">
                                    <input type="text" class="form-control my-2" placeholder="Enter category"
                                        [formControlName]="i" required>
                                    <div *ngIf="i > 0" class="input-group-prepend my-2">
                                        <button type="button" class="btn btn-danger input-group-text" (click)="removeCategory(i)"
                                            placement="left" ngbTooltip="Delete Category"><span data-feather="delete"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" (click)="addCategory()" class="btn btn-info">Add Category</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-dark" [disabled]="!editModelForm.valid" (click)="updateModel()" data-dismiss="modal">Save Changes</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>