page-utilities {

}
.calc
{
    border-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
	color: rgb(116, 86, 133); 
}
.lab
{
    font-weight: bold;
    font-size: 14px !important;
}
.tot
{
    font-weight: bold;
    font-size: 16px !important;

}
.inputs
{
    color: black;
    background-color: transparent;
}
.bob
{
    font-weight: bold;
    font-size: 16px !important;
}

.result
{
    text-align: center;
    background-color: transparent;
}

.result__amount {
    font-weight: bold;
    font-size: 20px !important;
    word-wrap: break-word;
}

.instructions
{
    font-size: 17px !important;
    color: rgb(67, 80, 95);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}