*.jpg
*.jpeg
*.model
*.png
Application Source/Backend/Node Server/upload/upload.jpg
Application Source/Backend/Node Server/upload/upload.png
*.__styleext__
Application Source/ss-imagerec-webapp/node_modules/@schematics/angular/component/files/__path__/__name@dasherize@if-flat__/__name@dasherize__.component.__styleext__
!docs/img/*
