sudo: required
dist: trusty
addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

language: node_js
node_js:
  - "8"

branches:
  only:
    - master

before_install:
  - cd './Application Source'
  - cd './ss-imagerec-webapp'

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - npm install -g @angular/cli
  - npm install rxjs@latest rxjs-compat@latest --save
  - npm install @angular-devkit/build-angular@latest --save-dev

script:
  - ng lint
  - ng test
  - ng e2e
  - ng serve
