<mat-card class="total-utilities-card">

  <h1 class="title">Utilities</h1>
  <mat-grid-list cols="1" rowHeight="2:1">

    <mat-grid-tile class="tally-upper-tile">
      <mat-card class="tally-upper-card">
        <mat-card-title>Item Amount Calculator</mat-card-title>
        <mat-card-subtitle>Enter the values as instructed. Use the same measurement units</mat-card-subtitle>
        <mat-card-content>
          <mat-form-field class="input-field">
            <input matInput type="number" placeholder="Weight of SINGLE item" [(ngModel)]="single_item" >
          </mat-form-field>
          <br>
          <mat-form-field class="input-field">
            <input matInput type="number" placeholder="Weight of EMPTY bucket" [(ngModel)]="empty_bucket">
          </mat-form-field>
          <br>
          <mat-form-field class="input-field">
            <input matInput type="number" placeholder="Weight of FILLED bucket" [(ngModel)]="filled_bucket">
          </mat-form-field>
          <br>
          <br>
          <mat-card class="amount-result">
            <mat-card-title class="result-title">Number of Items: {{ Math.floor((filled_bucket - empty_bucket)/single_item) }}</mat-card-title>
          </mat-card>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card>
        Utility 2
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>

</mat-card>
