package-lock.json
/build/*
/build/logs/*
!/build/.gitkeep
!/build/logs/.gitkeep
/node_modules
/src/node_modules
/src/environment/AccountKey.json
/docs/
/**/training_data
/**/validation_data
/**/classes.json