<section id="hero">
  <particles [style]="particleSystem.style" [width]="particleSystem.width" [height]="particleSystem.height" [params]="particleSystem.parameters"></particles>
  <div class="container hero">
    <div class="row">
      <div class="col">
        <h1 class="display-4 text-maven">
          <span>YOUR SOLUTION.</span>
          <br>
          <div class="adjective display-5" style="display: inline-block"></div>
        </h1>
        <p class="lead text-nunito">
          Ninshiki API provides clients with a unique, clean and efficient image recognition solution. 
          Through thoughtful and intelligent system design coupled with an "ahead of the curve" approach to machine learning 
          - You as a client can achieve great things in the simplest way ever. Discover what your solution could be by integrating Ninshiki models into your applications.
        </p>
        <button type="button" class="btn btn-primary btn-lg">Try Ninshiki Now</button>
      </div>
      <div class="col computer">
        <figure class="display-container">
          <img src="https://zorinos.com/images/home/screen.jpg" alt="Ninshiki App">
        </figure>
      </div>
    </div>
  </div>
</section>