.contact-container{
    background-color: rgb(60, 60, 80);
    color: lightgray;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.contact-title {
    color: lightgray;
    text-align: center;
    font-family: "Lato", Arial, Helvetica, sans-serif;
}

.email-container {
    background-color: rgb(207, 207, 207);
    color: black;
    width: 80%;
    margin: 0px auto;
}

.email__msg-part {
    width: 60%;
}

.status-card {
    background-color: rgb(207, 207, 207);
    color: black;
    width: 80%;
    margin: 0px auto;
    font-family: "Lato", Arial, Helvetica, sans-serif;
}
