.contact-container{
    background-color: #607D8B;
    color: lightgray;
    display: flex;
    flex-direction: column;
}

.contact-title {
    color: lightgray;
    text-align: center;
    font-family: "Lato", Arial, Helvetica, sans-serif;
}

.email-container {
    background-color: #607D8B;
    color: lightgray;
    border: lightgray 2px solid;
}

.email-container__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: lightgray;
    color: rgb(13, 33, 44);
    border: 3px solid rgb(35, 64, 78);
}

.email-container__cs {
    position: relative;
    height: 30%;
    width: 30%;
    padding: 10px;
}

.email__instructions {
    text-align: center;
    color: lightgray;
    font-family: "Lato", Arial, Helvetica, sans-serif;
}

.email__form {
    margin: 5% auto;
    width: 60%;
}

.email__msg-part {
    width: 80%;
}

.email__image {
    padding: auto auto;
    height: 275px;
}

.email__submit {
    border: #607D8B 2px solid;
}

.email__quoteadd {
    border: #607D8B 2px solid;
    margin-right: 10px;
}

.status-card {
    background-color: lightgray;
    color: rgb(13, 33, 44);
    font-family: "Lato", Arial, Helvetica, sans-serif;
    margin: auto 25px;
    padding-right: 20px;
    border: #607D8B 3px solid;
}
