.contact-container{
    background-color: #607D8B;
    color: lightgray;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.contact-title {
    color: lightgray;
    text-align: center;
    font-family: "Lato", Arial, Helvetica, sans-serif;
}

.email-container {
    background-color: #CFD8DC;
    color: black;
    width: 60%;
    margin: 0px auto;
}

.email-container__form {
    display: flex;
    flex-direction: row;
}

.email__instructions {
    color: #212121;
    font-family: "Lato", Arial, Helvetica, sans-serif;
}

.email__form {
    width: 60%;
}

.email__msg-part {
    width: 80%;
}

.email__image {
    width: 40%;
    height: 40%;
}

.status-card {
    background-color: #CFD8DC;
    color: #212121;
    width: 60%;
    margin: 0px auto;
    font-family: "Lato", Arial, Helvetica, sans-serif;
}
