<div class="contact-container">
    <div class="contact-title">
        <h1>Contact Us!</h1>
    </div>
    <br>
    
    <mat-card class="email-container" color="primary" *ngIf="!submitted">
        <form class="form-horizontal" id="usrForm" [formGroup]="myGroup">
            <mat-form-field>
                <input class="name-part" matInput type="text" id="name" required formControlName="name" name="name" placeholder="Enter your name">
            </mat-form-field>
            <br>
            <mat-form-field >
                <input class="email-part" matInput id="email" required formControlName="email" name="email" placeholder="Enter your email">
                <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="msg-part">
                <textarea matInput matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" rows="3" 
                id="message" form="usrForm" required formControlName="message" name="message" placeholder="Enter your query"></textarea>
            </mat-form-field>
            <br>
            <div>
                <button mat-raised-button color="primary" type="submit" (click)="onSubmit()" class="sumbit-btn" form="usrForm">Submit</button>
            </div>
        </form>
    </mat-card>
    <br>
    <mat-card *ngIf="submitted">
        <h1>Email Sent!</h1>
    </mat-card>
</div>

