
<!--script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>// <![CDATA[
$(document).ready(function(){
    var fullname,to,subject,text;
    $("#send_email").click(function(){     
        to=$("#emailadd").val();
        subject=$("#name").val();
        text=  $("#content").val();
        email = $("#emailadd").val();
        $("#message").text("Sending E-mail...");
        $.get("http://localhost:8000/send",{to:to,subject:subject,text:text, email:email},function(data){
            if(data=="sent")
            {
                $("#message").empty().html("Your query has been sent!");
            } else {
                console.log("DId not send");
            }
        });
    });
});
</script-->

  <!--div class="container">
      <div ng-controller="formCtrl">
          <h2 class="text-center text-primary" >Contact Us!</h2>
          <hr />
          <form name="userForm" class="form-horizontal well form-search">
              <div class="form-group">
                  <label for="name" class="col-sm-2 control-label">Your Name</label>
                  <div class="col-sm-10">
                      <input type="name" ng-model="name" class="form-control" id="name" placeholder="Your Name" required/>
                  </div>
              </div>
              <div class="form-group">
                  <label for="email" class="col-sm-2 control-label">Email</label>
                  <div class="col-sm-10">
                      <input type="email" ng-model="email" class="form-control" id="emailadd" placeholder="Your Email" required/>
                  </div>
              </div>
              <div class="form-group">
                  <label for="Message" class="col-sm-2 control-label">Message</label>
                  <div class="col-sm-10">
                      <textarea ng-model="message" id="content" class="form-control" rows="3" placeholder="Your Message" required></textarea>
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" id = "send_email"  ng-disabled="userForm.$invalid" class="btn btn-primary">Submit</button>
                  </div>
              </div>
        
          </form>
      </div>
  </div-->
<!-- ---------------------------------- -->
<div class="contact-container">
    <div class="contact-title">
        <h1>Contact Us!</h1>
    </div>
    <br>
    
    <mat-card class="email-container" color="primary" *ngIf="!submitted">
        <form class="form-horizontal" id="usrForm" [formGroup]="myGroup">
            <mat-form-field>
                <input class="name-part" matInput type="text" id="name" required formControlName="name" name="name" placeholder="Enter your name">
            </mat-form-field>
            <br>
            <mat-form-field >
                <input class="email-part" matInput id="email" required formControlName="email" name="email" placeholder="Enter your email">
                <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="msg-part">
                <textarea matInput matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" rows="3" 
                id="message" form="usrForm" required formControlName="message" name="message" placeholder="Enter your query"></textarea>
            </mat-form-field>
            <br>
            <div>
                <button mat-raised-button color="primary" type="submit" (click)="onSubmit()" class="sumbit-btn" form="usrForm">Submit</button>
            </div>
        </form>
    </mat-card>
    <br>
    <mat-card *ngIf="submitted">
        <h1>Email Sent!</h1>
    </mat-card>
</div>

