<!-- Reference for Image: -->
<!-- https://www.youtube.com/watch?time_continue=6&v=wZhkH2jhiXY -->
<section id="not-found">
  <div class="container-fluid my-5">
    <div class="col text-center">
      <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <app-flames></app-flames>
            </div>
            <div class="col-md-4 col-sm-12">
              <h1 class="display-2">Oh No!</h1>
              <h2 class="lead">Error 404: Page not Found!</h2>
              <blockquote class="blockquot my-4">
                <p class="mb-0">"I really wish I knew how I got here."</p>
                <footer class="blockquote-footer">The person reading this. <cite title="Source Title">T Bester</cite></footer>
              </blockquote>
              <p class="lead">It seems as if you're lost! <br> Why not just go back?</p>
              <button class="btn btn-dark" type="button" (click)="goBack()">Go Back</button>
            </div>
            <div class="col-md-4 col-sm-12">
              <app-flames></app-flames>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>