page-home {

}

#slide1
{
	//background-image: url('../../assets/imgs/takeimage.jpeg');
	color:#ffffff;
	/* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#slide2
{
	//background-image: url('../../assets/imgs/gears.jpeg');
	color:#ffffff;
	background-size: cover;
}
#slide3
{
	//background-image: url('../../assets/imgs/store.jpg');
	color:#ffffff;
	background-size: cover;
}
