page-home {

}
#slide1
{
	//background-image: url('../../assets/imgs/takeimage.jpeg');
	color:#ffffff;
	background-size: cover;
}
#slide2
{
	//background-image: url('../../assets/imgs/gears.jpeg');
	color:#ffffff;
	background-size: cover;
}
#slide3
{
	//background-image: url('../../assets/imgs/store.jpg');
	color:#ffffff;
	background-size: cover;
}
