page-contact {

}
.inputs
{
    color: black;
    background-color: transparent;
}
.bob
{
    font-weight: bold;
    font-size: 14px !important;
    color: aqua;
}
.instructions
{
    font-size: 17px !important;
    color: rgb(51, 61, 73);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}