page-about {

}
.uni
{
    width: 100px;
    height :100px;
    background: transparent !important;
    // display: block;
    // margin-left: auto;
    // margin-right: auto;
}
.sa 
{
    width: 100px;
    height: 75px;
    background: transparent !important;
}
#softw
{
    width: 150px;
    height :60px;
    background: transparent !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#about__nishiki-logo
{
    height: 200px;
    width: 200px;
    display: block;
    margin: auto;
}
.developed-by {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    // align-content: center;
}
.about__members{
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    text-align: center;
    // align-content: center;
}
.about__single-member {
    color: black;
    // flex-shrink: 0.5;
    padding: 0px 0px;
}