/**
 * File Name:       imagerec.scss
 * Version Number:  v1.1
 * Author:          Tobias Bester, Orisha Orrie
 * Project Name:    Ninshiki
 * Organization:    Software Sharks
 * User Manual:     Refer to https://github.com/OrishaOrrie/SoftwareSharks/blob/master/Documentation/User%20Manual.pdf
 * Update History:
 * ------------------------------------------
 * Date         Author		Description
 * 20/07/2018   Orisha		Created component
 * 15/08/2018   Tobias		Added Custom Image Upload Functionality
 * 15/08/2018	Tobias		Added backend for image recognition			
 * ------------------------------------------
 * Functional Description:
 *  Provides the layout for the interface for user to select or capture an image
 *  and submit it for prediction.
 */

page-imagerec {

}

@import "theme/variables";
.steps
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: rgb(64, 55, 73);
    font-weight: bold;
    position: relative;
}
.instructions
{
    font-size: 20px;
    color: rgb(42, 51, 61);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

}

#id
{
    position: relative;
}
.wrapper {
    text-align: center;
}
.upload-card__upload-button
{
    position: relative;
}
.button {
    //position: absolute;
   // top: 50%;
   position: relative;
}
.first
{
    font-size: 22px;
}
.second
{
    font-size: 16px;
}
.info-bar
{
    font-size: 18px;
}
.user-image
{
    width: 200px;
    height: 200px;
   
}
#selectedImage
{
    background: transparent !important;
}
.attempt
{
    //width: 100px;
    height: 60px;
}