<!--
  Generated template for the ImagerecPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Image recognition</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click) ="openModal()"  >
         <ion-icon name="help-circle" color= "dark"></ion-icon>
       </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>

<!-- <div class="overlay" padding [hidden]="isLoaded"></div> -->

<ion-content #content padding>
<h1 class = "first" color ="primary" ></h1>
<!-- <h2 class = "second" color="secondary" >Capture an image using device camera</h2> -->
<p>
  <button align ="center" color= "custom" ion-button icon-start round  (click) = "takePic()" >
      <ion-icon name="camera"  ></ion-icon>
        Camera
  </button>
</p>
  <!-- <h2 class = "second" >Select image from device gallery</h2> md-cloud-upload-->
<p>
   <button align ="center" color= "tertiary" ion-button icon-start round (click) = "selectPic()" ><ion-icon name="md-images"  ></ion-icon>
    Gallery</button>
 </p> 

  <p align = "center"><img *ngIf="imgSelectedOrCaptured" src="{{ myPhoto }}" class="user-image" id="selectedImage" alt="Select an image please">
    <img *ngIf="!imgSelectedOrCaptured" src="assets/imgs/camera-holder.png" class="user-image" id="selectedImage">
  </p>
  <button align ="center" color= "tertiary" ion-button icon-start round  *ngIf="imgAvailable" 
    (click)="predictImage(); " [disabled]="notReadyToPredict" class="upload-card__upload-button">
      <ion-icon name="md-alert"  ></ion-icon>
    {{ predictButtonText }}</button>
</ion-content>