page-imagerec {

}

@import "theme/variables";


.first
{
    font-size: 22px;
}
.second
{
    font-size: 16px;
}
.info-bar
{
    font-size: 18px;
}
.user-image
{
    width: 200px;
    height: 200px;
   
}
#selectedImage
{
    background: transparent !important;
}
.attempt
{
    //width: 100px;
    height: 60px;
}