.total-utilities-card{
    background-color: #607D8B;
}

.utilcard__title{
    color: lightgray;
    text-align: center;
    font-family: Lato, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.tally-upper-tile {
    text-align: center;
}

.tally-upper-card{
    background-color:  #607D8B;
    border: lightgray 2px solid;
    color: lightgray;
    text-align: center;
}

.tuc__title {
    font-family: Lato, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: lightgray;
}

.tuc__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tuc__input-container {
    width: 25%;
    background-color: lightgray;
    border: solid 4px rgb(13, 33, 44);
}

.tally-upper-card__input-field{
    width: 100%;
}

/* 
.tally-upper-card__input-field{
    width: 70%;
} */

.tally-upper-card__amount-result{
    background-color: lightgray;
}

.tuc__icon {
    width: 30px;
    height: 30px;
}

.tally-upper-card__result-title {
    color: rgb(13, 33, 44);
    font-family: Lato, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}