<mat-card class="total-utilities-card">
  <h1 class="utilcard__title">Tools</h1>
      <mat-card class="tally-upper-card">
        <h2 class="tuc__title">Item Amount Calculator</h2>
        <mat-card-subtitle class="tuc__title">Enter the values as instructed. Use the same measurement units (e.g. Kg)</mat-card-subtitle>
        <div class="tuc__container">
          <mat-card class="tuc__input-container">
              <mat-form-field class="tally-upper-card__input-field" appearance="outline" color="primary">
                <mat-label>Single Item</mat-label>
                <input matInput id="single-weight" type="number" placeholder="Weight of SINGLE Item" [(ngModel)]="single_item">
                <img class="tuc__icon" matSuffix src="../../assets/icons/single_item.svg">
                <mat-hint>Enter the weight of a single item</mat-hint>
              </mat-form-field>
          </mat-card>
          <mat-card class="tuc__input-container">
              <mat-form-field class="tally-upper-card__input-field" appearance="outline" color="primary">
                <mat-label>Empty Container</mat-label>
                <input matInput id="single-weight" type="number" placeholder="Weight of EMPTY Container" [(ngModel)]="empty_bucket" >
                <img class="tuc__icon" matSuffix src="../../assets/icons/empty_bucket.svg">
                <mat-hint>Enter the weight of an empty container</mat-hint>
              </mat-form-field>
          </mat-card>
          <mat-card class="tuc__input-container">
              <mat-form-field class="tally-upper-card__input-field" appearance="outline" color="primary">
                <mat-label>Filled Container</mat-label>
                <input matInput id="filled-weight" type="number" placeholder="Weight of FILLED Container" [(ngModel)]="filled_bucket">
                <img class="tuc__icon" matSuffix src="../../assets/icons/filled_bucket.svg">
                <mat-hint>Enter the weight of a filled container</mat-hint>
              </mat-form-field>
          </mat-card>
        </div>
        <br>
        <mat-card class="tally-upper-card__amount-result">
            <!-- Math.floor((filled_bucket - empty_bucket)/single_item) -->
          <h2 class="tally-upper-card__result-title">{{ result() }}</h2>
        </mat-card>
      </mat-card>
</mat-card>
