.total-utilities-card{
    background-color: rgb(60, 60, 80);
    color: white;
}

.utilcard__title{
    color: lightgray;
    text-align: center;
    font-family: Lato, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.tally-upper-card{
    background-color: rgb(207, 207, 207);
    color: black;
    width: 80%;
}

.tally-upper-card__input-field{
    width: 70%;
}

.tally-upper-card__amount-result{
    background: rgb(75, 75, 97);
}

.result-title{
    color: lightgray;
    font-size: medium;
}