<div class="welcome-container">

  <h1 class="intro-message">Let us tell you what you're holding</h1>

  <div style="width:100%;">
    <mat-grid-list cols="3" rowHeight="9:10" gutterSize="10px">
      <mat-grid-tile class="step-tile" [colspan]=1 >
        <mat-card class="hvr-float step-card" style="background-image: url(/assets/taking-img-of-dessert.jpeg)">
          <h2 class="step-card__number">1</h2>
          <h3 class="step-card__title">IMAGE<br>UPLOAD</h3>
          <mat-card class="step-card__description">
              <p class="actual-description">Click on the Upload Image button to get started</p>
          </mat-card>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile class="step-tile" [colspan]=1>
        <mat-card class="hvr-float step-card" style="background-image: url(/assets/gears.jpeg)">
          <h2 class="step-card__number">2</h2>
          <h3 class="step-card__title">IMAGE<br>ANALYSIS</h3>
          <mat-card class="step-card__description">
              <p class="actual-description">Once you submit an image, we'll process the image with our trained AI model</p>
          </mat-card>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile class="step-tile" [colspan]=1>
        <mat-card class="hvr-float step-card" style="background-image: url(/assets/hardware-store.jpg)">
          <h2 class="step-card__number">3</h2>
          <h3 class="step-card__title">IMAGE<br>CLASSIFICATION</h3>
          <mat-card class="step-card__description">
              <p class="actual-description">Then, we'll tell you what we think the object in your image is</p>
          </mat-card>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div>
      <br>
    <button mat-raised-button color="primary" routerLink="/imageupload" class="upload-button">UPLOAD IMAGE</button>
  </div>
</div>