.welcome-container{
    padding: 5px;
}

.intro-message{
    color: rgb(47, 15, 107);
    text-align: center;
    top: 1em;
    font-family: "Lato", sans-serif;
    font-size: 250%;
}

.step-card {
    background-size: cover;
    opacity: 0.9;
    width: 100%;
    height: 100%;
}

.step-card__number {
    margin-top: 20px;
    text-align: center;
    color: white;
    font-size: 300%;
    text-shadow: 4px 4px 4px black;
}

.step-card__title{
    font-family: "Raleway", sans-serif;
    text-align: left;
    text-shadow: 4px 4px 4px black;
    color:rgb(255, 255, 255);
    font-size: 200%;
    position: absolute;
}

.step-card__description{
    color: white;
    background: rgb(212, 80, 4);
    height: 15%;
    width: 100%;
    position: absolute;
    left: 0em;
    bottom: 0em;
}

.actual-description {
    overflow-wrap: break-word;
    text-align: center;
    margin-right: 50px;
}

.upload-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 150%;
    height: 4em;
    font-size: larger;
    text-transform: capitalize;
}

/* ANIMATION */

