.welcome-container {
    padding: 5px;
}

.intro-message {
    color: lightgray;
    text-align: center;
    top: 1em;
    font-family: "Lato", sans-serif;
    font-size: 250%;
}

.intro__subtitle {
    font-family: "Lato", sans-serif;
    text-align: center;
    color: lightgray;
    font-weight: 400;
    margin: auto;
    word-wrap: break-word;
}

.upload-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 15px;
    border: 3px solid lightgray;
    background-color: #607D8B;
}

.upload-button:hover {
    background-color: rgb(68, 101, 117);
}

.upload-button__text {
    font-family: "Lato", sans-serif;
    font-size: larger;
    color: lightgray;
    white-space: normal;
}

.playstore-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 15px;
    border: 3px solid lightgray;
}

.playstore-icon {
    width: 30px;
    height: 30px;
    padding-right: 5px;
}

.carousel {
    width: 75%;
    height: 35%;
    min-height: 250px;
    border: lightgray 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

.carousel__img {
    position: relative;
    align-self: flex-start;
    width: 70%;
}

.carousel__img-src{
    align-self: flex-start;
    position: relative;
    width: 100%;
    min-width: 200px;
    min-height: 200px;
    height: 100%;
}

.carousel__content {
    position: relative;
    align-self: flex-end;
    align-self: center;
    width: 30%;
    height: 100%;
    min-height: 200px;
    padding-left: 20px;
    padding-right: 20px;
    color: lightgray;
}

.carousel__content-header {
    font-family: "Lato", sans-serif;
}

.carousel__content-text {
    font-family: "Lato", sans-serif;
    word-wrap: break-word;
}
