.welcome-container{
    padding: 5px;
}

.intro-message{
    color: white;
    height: 3em;
    position: relative;
    text-align: center;
    top: 1em;
    font-family: "Lato", sans-serif;
    font-size: 250%;
}

.step-card {
    background-size: cover;
    opacity: 0.9;
    width: 100%;
    height: 100%;
}

.step-number {
    text-align: center;
    color: white;
    font-size: 300%;
    text-shadow: 4px 4px 4px black;
}

.steps{
    text-align: center;
    color: white;
    font-size: 400%;
    text-shadow: 4px 4px 4px black;
}

.steps-descript{
    font-family: "Raleway", sans-serif;
    text-align: left;
    text-shadow: 4px 4px 4px black;
    color:rgb(255, 255, 255);
    font-size: 200%;
    position: absolute;
}

.detailed-descript{
    text-align: center;
    color: white;
    background: rgb(60, 60, 80);
    padding: auto auto auto;
    height: 25%;
    width: 100%;
    position: absolute;
    left: 0em;
    bottom: 0em;
}

.go-to-upload{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 150%;
    height: 4em;
    font-size: larger;
    text-transform: capitalize;
}

/* ANIMATION */

