<div class="welcome-container">

  <h1 class="intro-message">Let us tell you what you're holding</h1>
  <h2 class="intro__subtitle">Ninshiki uses Artificial Intelligence and Computer Vision to predict the object in an image</h2>
  <br>
  <br>
  <button mat-stroked-button color="primary" routerLink="/imageupload" class="upload-button">
    <span class="upload-button__text">UPLOAD IMAGE</span>
  </button>
  <br>
  <br>
  <br>
  <br>
  <div class="carousel">
    <div class="carousel__img">
      <img class="carousel__img-src" src="../../assets/pineapple.jpeg">
    </div>
    <div class="carousel__content">
      <h2 class="carousel__content-header">You Select an Image</h2>
      <p class="carousel__content-text">Have an object that you'd like to classify? Capture an image of it using your webcam or select an 
        image from your gallery.</p>
    </div>
  </div>
  <br>
  <br>
  <div class="carousel">
    <div class="carousel__img">
      <img class="carousel__img-src" src="../../assets/coggers.jpeg">
    </div>
    <div class="carousel__content">
      <h2 class="carousel__content-header">We Analyze the Image</h2>
      <p class="carousel__content-text">Using state-of-the-art Artificial Intelligence and Image Classification technology, Ninshiki
      will analyze the content of the image.</p>
    </div>
  </div>
  <br>
  <br>
  <div class="carousel">
    <div class="carousel__img">
      <img class="carousel__img-src" src="../../assets/ikea.jpg">
    </div>
    <div class="carousel__content">
      <h2 class="carousel__content-header">You Learn What the Object Is</h2>
      <p class="carousel__content-text">Within moments, Ninshiki will return the name or type of the object in the image. Now 
        you can continue with that knowledge!</p>
    </div>
  </div>

  <!-- <div style="width:100%;">
    <mat-grid-list cols="3" rowHeight="9:10" gutterSize="10px">
      <mat-grid-tile class="step-tile" [colspan]=1 >
        <mat-card class="hvr-float step-card" style="background-image: url(/assets/taking-img-of-dessert.jpeg)">
          <h2 class="step-card__number">1</h2>
          <h3 class="step-card__title">IMAGE<br>UPLOAD</h3>
          <mat-card class="step-card__description">
              <p class="actual-description">Click on the Upload Image button to get started</p>
          </mat-card>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile class="step-tile" [colspan]=1>
        <mat-card class="hvr-float step-card" style="background-image: url(/assets/gears.jpeg)">
          <h2 class="step-card__number">2</h2>
          <h3 class="step-card__title">IMAGE<br>ANALYSIS</h3>
          <mat-card class="step-card__description">
              <p class="actual-description">Once you submit an image, we'll process the image with our trained AI model</p>
          </mat-card>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile class="step-tile" [colspan]=1>
        <mat-card class="hvr-float step-card" style="background-image: url(/assets/hardware-store.jpg)">
          <h2 class="step-card__number">3</h2>
          <h3 class="step-card__title">IMAGE<br>CLASSIFICATION</h3>
          <mat-card class="step-card__description">
              <p class="actual-description">Then, we'll tell you what we think the object in your image is</p>
          </mat-card>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div> -->

</div>