.welcome-container {
    padding: 5px;
}

.intro-message {
    color: lightgray;
    text-align: center;
    top: 1em;
    font-family: "Lato", sans-serif;
    font-size: 250%;
}

.intro__subtitle {
    font-family: "Lato", sans-serif;
    text-align: center;
    color: lightgray;
    font-weight: 400;
    margin: auto;
    word-wrap: break-word;
}

.upload-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 15px;
    border: 3px solid lightgray;
    word-wrap: break-word;
}

.upload-button__text {
    font-family: "Lato", sans-serif;
    font-size: larger;
    text-transform: capitalize;
    color: lightgray;
}

.carousel {
    width: 75%;
    height: 25%;
    background-color: #CFD8DC;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

.carousel__img {
    align-self: flex-start;
    height: 300px;
    width: 60%;
}

.carousel__img-src{
    align-self: flex-start;
    height: 100%;
}

.carousel__content {
    align-self: center;
    width: 30%;
    padding-right: 50px;
}

.carousel__content-header {
    font-family: "Lato", sans-serif;
}

.carousel__content-text {
    font-family: "Lato", sans-serif;
    word-wrap: break-word;
}

/* 

.step-card {
    background-size: cover;
    opacity: 0.9;
    width: 100%;
    height: 100%;
}

.step-card__number {
    margin-top: 20px;
    text-align: center;
    color: white;
    font-size: 300%;
    text-shadow: 4px 4px 4px black;
}

.step-card__title{
    font-family: "Raleway", sans-serif;
    text-align: left;
    text-shadow: 4px 4px 4px black;
    color:rgb(255, 255, 255);
    font-size: 200%;
    position: absolute;
}

.step-card__description{
    color: white;
    background: #607D8B;
    height: 15%;
    width: 100%;
    position: absolute;
    left: 0em;
    bottom: 0em;
}

.actual-description {
    overflow-wrap: break-word;
    text-align: center;
    margin-right: 50px;
} */

