<section id="hero">
  <particles [style]="particleSystem.style" [width]="particleSystem.width" [height]="particleSystem.height" [params]="particleSystem.parameters"></particles>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>
          <span>YOUR COMPANY.</span>
          <br>
          <div class="adjective" style="display: inline-block"></div>
        </h1>
      </div>
      <div class="col computer">
        <figure class="display-container">
          <img src="https://zorinos.com/images/home/screen.jpg" alt="Ninshiki App">
        </figure>
      </div>
    </div>
  </div>
</section>