<section id="hero">
  <particles [style]="particleSystem.style" [width]="particleSystem.width" [height]="particleSystem.height" [params]="particleSystem.parameters"></particles>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="display-3">
          <span>YOUR BUSINESS.</span>
          <br>
          <div class="adjective" style="display: inline-block"></div>
        </h1>
        <p class="lead">
          Ninshiki enables client perfection.
        </p>
        <button type="button" class="btn btn-primary btn-lg">Try Ninshiki</button>
      </div>
      <div class="col computer">
        <figure class="display-container">
          <img src="https://zorinos.com/images/home/screen.jpg" alt="Ninshiki App">
        </figure>
      </div>
    </div>
  </div>
</section>