<nav class="nav navbar-dark bg-dark h-100 nav-side">
  <ul class="nav flex-column w-100">
    <li class="nav-item">
      <h6 class="text-muted sideNav-heading">Dashboard</h6>
      <hr>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="[{ outlets: { sidebar: ['overview'] } }]" routerLinkActive="active">
        <span data-feather="code"></span>
        <span class="side-nav-text">Overview</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="[{ outlets: { sidebar: ['models'] } }]" routerLinkActive="active">
        <span data-feather="box"></span>
        <span class="side-nav-text">Models</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" [routerLink]="">
        <span data-feather="activity"></span>
        <span class="side-nav-text">Train</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" [routerLink]="">
        <span data-feather="aperture"></span>
        <span class="side-nav-text">Predict</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" [routerLink]="">
        <span data-feather="bar-chart-2"></span>
        <span class="side-nav-text">Reports</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" [routerLink]="">
        <span data-feather="layers"></span>
        <span class="side-nav-text">Integrations</span>
      </a>
    </li>
    <li class="nav-item">
      <h6 class="text-muted sideNav-heading">Profile</h6>
      <hr>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="[{ outlets: { sidebar: ['profile'] } }]" routerLinkActive="active">
        <span data-feather="user"></span>
        <span class="side-nav-text">View</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" [routerLink]="">
        <span data-feather="edit"></span>
        <span class="side-nav-text">Edit</span>
      </a>
    </li>
  </ul>
</nav>