nav.nav-side .nav-link {
  color: white;
}

nav.nav-side .nav-link:hover {
  color: white;
  background-color: #1d2024;
}

nav.nav-side .nav-link.active {
  color: white;
  background-color: #1d2024;
}

nav.nav-side .nav-link.disabled {
  color: #999;
}

.feather {
  width: 1rem;
  height: 1rem;
  vertical-align: text-bottom;
}

nav.nav-side .nav-item .sideNav-heading {
  padding: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 0rem;
}

nav.nav-side .nav-item hr {
  margin-top: 0;
  background:  #6c757d;
  height: 1px;
  margin-left: 1rem;
}

nav.nav-side .nav-item {
  width: 100%;
}

nav.nav-side .side-nav-text {
  margin-left: 1rem;
}

@media screen and (max-width: 767px) {

  nav.nav-side .side-nav-text,
  nav.nav-side .nav-item .sideNav-heading {
    visibility: hidden;
  }

  .feather {
    width: 1.5rem;
    height: 1.5rem;
    margin: auto;
    display: block;
  }
}

@media screen and (max-width: 575px) {
  .feather {
    width: 1rem;
    height: 1rem;
  }
}