<div class="toolbar-container">

  <mat-toolbar class="mat-elevation-z4" color="primary">
    <a mat-button routerLink="/home" class="toolbar-title">{{ title }}</a>
    <span class="toolbar-spacer"></span>

    <a mat-button routerLink="/home" color="accent">Home</a>
    <span class="toolbar-button-spacer"></span>
    <a mat-button routerLink="/imageupload" color="accent">Upload Image</a>
    <span class="toolbar-button-spacer"></span>
    <a mat-button routerLink="/utilities" color="accent">Utilities</a>
    <span class="toolbar-button-spacer"></span>
    <a mat-button routerLink="/contactus" color="accent">Contact Us</a>
  </mat-toolbar>

  <br>
  <!--app-home></app-home-->
  
</div>

<main>
  <router-outlet></router-outlet>
</main>

<br>

<mat-card class="mat-elevation-z4" id="footy">
  <mat-grid-list cols="3" rowHeight="5:1">

    <mat-grid-tile id="website-info">
      <a mat-button routerLink="/home">Home</a>
      <a mat-button routerLink="/imageupload">Upload Image</a>
      <a mat-button routerLink="/utilities">Utilities</a>
      <a mat-button routerLink="/contactus">Contact Us</a>
    </mat-grid-tile>

    <mat-grid-tile id="ss-info">
      <a mat-button href="https://github.com/OrishaOrrie/SoftwareSharks" target="_blank">Developed by<br> Software Sharks</a>
      <img class="ss-logo" src="../assets/ss-logo.png" alt="Software-Sharks">
    </mat-grid-tile>

    <mat-grid-tile id="bramhope-info">
      <a mat-button href="http://www.bramhope.co.za/" target="_blank">Developed for<br>The Bramhope Group</a>
      <img class="bramhope-logo" src="../assets/bramhope-logo.jpg" alt="logo">
    </mat-grid-tile>
    
  </mat-grid-list>
</mat-card>
