
.toolbar-spacer{
    flex: 1 1 auto;
}

.toolbar-button-spacer{
    flex: 0 0 1em;
}

.toolbar-container{
    margin: auto 10em;
}

.toolbar-title{
    font-size: 150%;
    font-family: Lato, Arial, sans-serif;
}

#home-toolbar{
    padding: 50;
}

#footer{
    margin: auto 0 0 0;
    padding: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    position: relative;
    color: black;
    font-family: Lato, sans-serif;

}