<div>
    <mat-card class="total-upload-card" color="accent">

      <h1 class="title">Upload an Image</h1>
      <p class="instruction">{{ instruction }}</p>
      <mat-spinner [style.display]="showSpinner ? 'block':'none'"></mat-spinner>
      <mat-card class="dashboardContainer"></mat-card>
      <br>

      <mat-card class="result-card">
        <mat-card-title><h3>Classification Results</h3></mat-card-title>
        <h4 class="nothing-to-show" *ngIf="results.length == 0">Nothing to show yet!</h4>
        <mat-list>
          <mat-list-item class="results-list" *ngFor="let result of results">
            Item Class: {{ result.name }} 
            <br>
            Class Probability: {{ result.value }}
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
        <br>
        <a mat-raised-button (click)="reloadPage()" class="reload-upload" color="primary">Upload another Image</a>       
      </mat-card>

    </mat-card>
</div>
