.total-upload-card{
    background-color: rgb(60, 60, 80);
    color: lightgray;
}

.title{
    text-align: center;
    font-family: "Lato", Arial, Helvetica, sans-serif;
}

.dashboardContainer{
    align-content: center;
    background-color: rgb(75, 75, 97);
    padding-left: 16%;
}

.nothing-to-show{
    color: orange;
}

.result-card{
    background-color: rgb(75, 75, 97);
}

.results-list{
    color: lightgray;
    text-align: left;
}

mat-card-title{
    color: lightgray;
    font-family: "Lato", Arial, Helvetica, sans-serif;
}

.reload-upload{
    align-content: center;
}