<div class="container">

  <div class='row'>
    
    <div class="col-md-3">

      <mat-card>
        <mat-card-title>UPLOAD AN IMAGE</mat-card-title>

        <mat-card-subtitle>Click Choose File and Upload</mat-card-subtitle>

        <p-fileUpload mode="advanced" name="myfile[]" url="./upload.php" accept="image/*">
          <ng-template pTemplate="toolbar">
          </ng-template>
        </p-fileUpload>  
        <p>

        </p>
        

      </mat-card>

    </div>
  </div>  
  
</div>
