<div class="container" >

  <div class='row'>
    
    <div class="col-md-3">

      <mat-card >
        <mat-card-title>UPLOAD AN IMAGE</mat-card-title>

        <mat-card-subtitle>Choose a file to upload</mat-card-subtitle>

        <!-- NGPrime Image uploader - Hard to specify image submission -->
        <!--p-fileUpload mode="advanced" name="myfile[]" url="./upload.php" accept="image/*">
          <ng-template pTemplate="toolbar">
          </ng-template>
        </p-fileUpload--> 

        <!-- Simple HTML image uploader -->
        <div>
          <!-- CHOICE#2 includes (change)="handleFileInput($event.target.files)" -->
          <input type="file" #fileInput id="file" (change)="handleImageInput($event.target.files)"  placeholder="Upload Image..."/>
          <!--button type="button" (click)="handleImageInput($event.target.files)">Upload</button-->  <!-- Choice#1 -->

        </div>

        <p>
          <!-- EMPTY SPACE -->
        </p>
        
      </mat-card>

    </div>
  </div>  
  
</div>
