<div class="container" >
  <div class='row'>
    <div class="col-md-3">
      <mat-card >
        <mat-card-title>UPLOAD AN IMAGE</mat-card-title>
        <mat-card-subtitle>Choose a file to upload</mat-card-subtitle>   
        <div>
          <form id="frmUploader" enctype="multipart/form-data" action="http://localhost/upload" method="post">
            <input type="file" name="imgUploader" />
            <input type="submit" name="submit" id="btnSubmit" value="Upload" /> </form>
        </div>
      </mat-card>
    </div>
  </div>  
</div>
