<section id="models-create" style="margin-bottom: 100px">
  <div class="d-flex p-2 justify-content-start border-bottom">
    <h1>Model Creation</h1>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card border-dark my-3 mw-100">
          <div class="card-header bg-dark text-light">Lets get started!</div>
          <div class="card-body text-dark">
            <h5 class="card-title">Create a new Model</h5>
            <p class="card-text">Fill in the fields below to create a new Model:</p>
            <form [formGroup]="newModelForm" (ngSubmit)="onSubmit()" id="newModelForm" (keydown.enter)="$event.preventDefault()">
              <div class="form-group row">
                <label for="modelNameInput" class="col-md-2 col-sm-12 col-form-label">Model Name</label>
                <div class="col-md-10 col-sm-12">
                  <input type="text" class="form-control" id="modelNameInput" placeholder="Enter Model name"
                    formControlName="name">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-2 col-sm-12 col-form-label">Categories</label>
                <div class="col-md-10 col-sm-12" formArrayName="categories">
                  <div #categoriesInput *ngFor="let address of categories.controls; let i=index">
                    <div class="input-group">
                      <input type="text" class="form-control my-2" placeholder="Enter category" [formControlName]="i" [attr.id]="i + 'Category'"
                      (keyup.enter)="keytab(i)" autofocus required>
                      <div *ngIf="i > 0" class="input-group-prepend my-2">
                        <button type="button" class="btn btn-danger input-group-text" (click)="removeCategory(i)"
                          placement="left" ngbTooltip="Delete Category"><span data-feather="delete"></span></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" (click)="addCategory()" class="btn btn-info">Add Category</button>
              <!-- <button type="button" data-toggle="modal" data-target="#confirmationModal" class="btn btn-info">Add Category</button> -->
              <button type="button" data-toggle="modal" data-target="#confirmationModal" class="btn btn-dark"
                [disabled]="!newModelForm.valid">Confirm</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Confirmation Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to create the model?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" form="newModelForm" class="btn btn-dark">Confirm</button>
      </div>
    </div>
  </div>
</div>