.toolbar-container{
    margin: auto 5%;
}

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.toolbar__title{
    font-style: italic;
    text-transform: uppercase;
    font-size: 150%;
    font-family: Lato, Arial, sans-serif;
    text-shadow: 2px 2px black;
    justify-self: flex-start;
}

.toolbar__spacer{
    flex: 0 1 auto;
}

.toolbar__link {
    font-family: Lato, Arial, sans-serif;
}

.toolbar__button-spacer{
    flex: 0 0 1em;
}

.toolbar__quote-amount {
    float: right;
    margin-left: 20px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 30%;
    background-color: red;
}

main{
    margin: auto 5%;
    overflow: auto;
    padding-bottom: 2%;
}

.footer{
    background: #607D8B;
    position: relative;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    height: 150px;
    clear: both;
    overflow: auto;
}

/* 
.footer__link {
    height: 70%;
    text-align: left;
    color: white;
    margin-right: 5px;
} */

.footer__buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer__button {
    margin-top: 20px;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    /* background: green; */
}

.footer__button-info {
    position: relative;
    margin-top: 5%;
    font-family: Lato, Arial, sans-serif;
    color:white;
    float: right;
    width: 40%;
    height: 80%;
    hyphens: auto;
    align-self: center;
    white-space: normal;
    line-height: 2.0;
    margin-right: 10px;
}

.footer__logo {
    position: relative;
    margin-left: 0px;
    width: 30%;
    align-self: baseline;
}
