
.toolbar-spacer{
    flex: 1 1 auto;
}

.toolbar-button-spacer{
    flex: 0 0 1em;
}

.toolbar-container{
    margin: auto 10em;
}

.toolbar-title{
    font-size: 150%;
    font-family: Lato, Arial, sans-serif;
}

main{
    margin: auto 10em;
    overflow: auto;
    padding-bottom: 100px;
}

#footy{
    background: rgb(60, 60, 80);
    color: white;
    position: relative;
    margin-top: -100px;
    height: 150px;
    clear: both;
}

#ss-info{
    text-align: left;
}

.bramhope-logo{
    width: 100px;
    height: 90px;
}

.ss-logo{
    width: 90px;
    height: 90px;
}
