<div class="toolbar-container">

  <mat-toolbar color="primary" class="toolbar">
    <a mat-button routerLink="/home" class="toolbar__title">[ {{ title }} ]</a>
    <!-- <span class="toolbar__spacer"></span> -->
    <!-- <a mat-button class="toolbar__link" routerLink="/home">Home</a> -->
    <!-- <span class="toolbar__button-spacer"></span> -->
    <a mat-button class="toolbar__link" id="navbar-image" routerLink="/imageupload">Classify Image</a>
    <!-- <span class="toolbar__button-spacer"></span> -->
    <a mat-button class="toolbar__link" id="navbar-utilities" routerLink="/utilities">Tools</a>
    <!-- <span class="toolbar__button-spacer"></span> -->
    <a mat-button class="toolbar__link" id="navbar-contact" routerLink="/contactus">Contact Us</a>
  </mat-toolbar>
  <br>
</div>

  <main>
      <router-outlet></router-outlet>
  </main>
  
<br>
<app-feedback></app-feedback>

<div class="footer">

    <div class="footer__buttons">
      <a class="footer__button" mat-button href="https://github.com/OrishaOrrie/SoftwareSharks" target="_blank">
        <img class="footer__logo" src="../assets/ss-logo.png" alt="Software Sharks Logo">
        <p class="footer__button-info">Developed by Software Sharks</p>
      </a>
      <a class="footer__button" mat-button href="http://www.bramhope.co.za/" target="_blank">
        <img class="footer__logo" src="../assets/bramhope-logo.jpg" alt="Bramhope Logo">
        <p class="footer__button-info">Developed for The Bramhope Group</p>
      </a>
      <a class="footer__button" mat-button href="https://www.up.ac.za/" target="_blank">
        <img class="footer__logo" src="../assets/tukslogo.png" alt="University of Pretoria Logo">
        <p class="footer__button-info">A Project for The University of Pretoria</p>
      </a>
    </div>

  </div>
