<div class="toolbar-container">

  <mat-toolbar class="mat-elevation-z3" color="primary">
    <a mat-button routerLink="/home" class="toolbar__title">{{ title }}</a>
    <span class="toolbar__spacer"></span>
    <a mat-button routerLink="/home" color="white">Home</a>
    <span class="toolbar__button-spacer"></span>
    <a mat-button id="navbar-image" routerLink="/imageupload" color="white">Upload Image</a>
    <span class="toolbar__button-spacer"></span>
    <a mat-button id="navbar-utilities" routerLink="/utilities" color="white">Utilities</a>
    <span class="toolbar__button-spacer"></span>
    <a mat-button routerLink="/contactus" color="white">Contact Us</a>
  </mat-toolbar>
  <br>
</div>

  <main>
      <router-outlet></router-outlet>
  </main>
  
<br>

<mat-card class="mat-elevation-z4" class="footer">
    <mat-grid-list cols="4" rowHeight="3:1">
      <mat-grid-tile [colspan]=1 [rowspan]=1>
        <div>
          <a mat-button routerLink="/home" class="footer__link">Home</a><br>
          <a mat-button routerLink="/imageupload" class="footer__link">Upload Image</a><br>
          <a mat-button routerLink="/utilities" class="footer__link">Utilities</a><br>
          <a mat-button id="footer-contactus" routerLink="/contactus" class="footer__link">Contact Us</a>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <a mat-button href="https://github.com/OrishaOrrie/SoftwareSharks" class="footer__link" target="_blank">Developed by<br> Software Sharks</a><br>
        <img class="footer__logo" src="../assets/ss-logo.png" alt="Software-Sharks">
      </mat-grid-tile>
      <mat-grid-tile>
        <a mat-button href="http://www.bramhope.co.za/" class="footer__link" target="_blank">Developed for<br>The Bramhope Group</a><br>
        <img class="footer__logo" src="../assets/bramhope-logo.jpg" alt="logo">
      </mat-grid-tile>
      <mat-grid-tile>
        <a mat-button href="https://www.up.ac.za/" class="footer__link" target="_blank">A Project for<br>The University of Pretoria</a><br>
        <img class="footer__logo" src="../assets/tukslogo.png" alt="logo">
      </mat-grid-tile>
    </mat-grid-list>

</mat-card>
