.toolbar-container{
    margin: auto 5%;
}

.toolbar__title{
    font-style: italic;
    text-transform: uppercase;
    font-size: 150%;
    font-family: Lato, Arial, sans-serif;
    text-shadow: 2px 2px black;
}

.toolbar__spacer{
    flex: 1 1 auto;
}

.toolbar__button-spacer{
    flex: 0 0 1em;
}

main{
    margin: auto 5%;
    overflow: auto;
    padding-bottom: 100px;
}

.footer{
    background: #607D8B;
    /* background-color: rgba(5,5,5,0); */
    position: relative;
    margin-top: -5%;
    margin-left: 5%;
    margin-right: 5%;
    height: 10%;
    clear: both;
}

/* 
.footer__link {
    height: 70%;
    text-align: left;
    color: white;
    margin-right: 5px;
} */

.footer__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer__button {
    width: 20%;
    height: 8%;
    padding: 5px;
}

.footer__button-info {
    font-family: Lato, Arial, sans-serif;
    color:lightgray;
}

.footer__logo {
    width: 30%;
    height: 30%;
}
