.total-upload-card{
    background-color: rgb(60, 60, 80);
    color: lightgray;
}

.title{
    text-align: center;
    font-family: "Lato", Arial, Helvetica, sans-serif;
}

.dashboardContainer{
    align-content: center;
    background-color: rgb(75, 75, 97);
    padding-left: 16%;
}

.nothing-to-show{
    color: orange;
}

.result-card{
    background-color: rgb(75, 75, 97);
}

.results-list{
    color: lightgray;
    text-align: left;
}

mat-card-title{
    color: lightgray;
    font-family: "Lato", Arial, Helvetica, sans-serif;
}

.reload-upload{
    align-content: center;
}

.image-select-container {
    position: relative;
}

.image-select-underlayer {
    position: absolute;
    height: 2em;
}

.image-select-button {
    z-index: 2;
    opacity: 0;
}

.custom-file-upload {
    font-size: 100%;
    border: 1px solid rgb(75, 75, 97);
    display: inline-block;
    padding: 16px 32px;
    cursor: pointer;
}

.custom-file-upload:hover{
    font-size: 100%;
    border: 1px solid rgb(75, 75, 97);
    background: rgb(144, 144, 158);
    display: inline-block;
    padding: 16px 32px;
    cursor: pointer;
}

#file-upload {
    display: none;
}

img {
    height: 6em;
    background: red;
}