.total-upload-card{
    background-color:  #3F51B5;
    color: lightgray;
}

.total-upload-card__title{
    text-align: center;
    font-family: "Lato", Arial, Helvetica, sans-serif;
}

.upload-card {
    background-color: rgb(207, 207, 207);
}

.upload-card__instruction {
    text-align: center;
    font-size: 150%;
    color: rgb(100, 99, 99);
}

.upload-card__file-button {
    text-align: center;
}

.upload-card__button-label {
    font-family: "Lato", sans-serif;
    font-size: 100%;
    /* border: 1px solid rgb(75, 75, 97); */
    display: inline-block;
    padding: 16px 32px;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgb(150, 148, 148);
    color: white;
    background: rgb(218, 97, 17);
}

.upload-card__button-label:hover{
    font-size: 100%;
    background: rgb(211, 133, 81);
    display: inline-block;
    padding: 16px 32px;
    cursor: pointer;
}

#file-upload {
    display: none;
}

#webcam-upload {
    display: none;
}

.upload-card__upload-button {
    background: rgb(218, 97, 17);
    width: 200%;
    font-size: 150%;
    float: left;
}

mat-spinner{
    float: right;
}

.result-card{
    background-color: rgb(230, 101, 27);
}

.result-card__nothing-to-show{
    color: rgb(0, 0, 0);
}

.result-card__results-list{
    color: rgb(0, 0, 0);
    text-align: left;
}

mat-card-title{
    color: rgb(0, 0, 0);
    font-family: "Lato", Arial, Helvetica, sans-serif;
}

.reload-upload{
    align-content: center;
}