<div>
    <mat-card class="total-upload-card" color="accent">

      <h1 class="title">Upload an Image</h1>
      <!--mat-spinner [style.display]="showSpinner ? 'block':'none'"></mat-spinner>
      <mat-card class="dashboardContainer"></mat-card-->
      <mat-card color="primary">
        <mat-card-title>{{instruction}}</mat-card-title>
        <form class="form-horizontal" id="imgSelectForm">
          <mat-grid-list cols="4" rowHeight="100px">

            <mat-grid-tile [colspan]=1 [rowspan]=1>
                <div class="file-button">
                  <label for="file-upload" class="custom-file-upload">
                    Select File to Upload
                  </label>
                  <input id="file-upload" (change)="madeChange($event)" type="file" accept="image/*"/>
                </div>
            </mat-grid-tile>
            
            <mat-grid-tile [colspan]=3 [rowspan]=3>
                <div class="preview">
                  <p>No files currently selected</p>
                </div>
            </mat-grid-tile>

            <mat-grid-tile [colspan]=1 [rowspan]=1>
              <div>
                <label for="webcam-upload" class="custom-file-upload">
                  Capture Image with Webcam
                </label>
                <button id="webcam-upload" (click)="captureImage()"></button>
              </div>
            </mat-grid-tile>

            <mat-grid-tile [colspan]=4 [rowspan]=1>
                <div><!--*ngIf="(imageToUpload || image.src)"-->
                  <button mat-raised-button color="primary" (click)="uploadImage()" class="upload-button">UPLOAD</button>
                </div>
            </mat-grid-tile>
            
          </mat-grid-list>          
        </form>
      </mat-card>
      <br>

      <mat-card class="result-card">
        <mat-card-title><h3>Classification Results</h3></mat-card-title>
        <h4 class="nothing-to-show" *ngIf="results.length == 0">Nothing to show yet!</h4>
        <mat-list>
          <mat-list-item class="results-list" *ngFor="let result of results">
            Item Class: {{ result.name }} 
            <br>
            Class Probability: {{ result.value }}
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
        <br>
        <a mat-raised-button (click)="reloadPage()" class="reload-upload" color="primary">Upload another Image</a>       
      </mat-card>

    </mat-card>
</div>
