/* You can add global styles to this file, and also import other style files */
// @import "~bootstrap/dist/css/bootstrap.css";
// @import "~font-awesome/css/font-awesome.css";

$btn-border-radius: false;
$btn-border-radius-lg: false;
$btn-border-radius-sm: false;

@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/css/font-awesome.css";