<div class="welcome-container">
  <div class="intro-message">Let us tell you what you're holding</div>
  <mat-card class="how-to">
    <h2 class="steps">1</h2>
    <div class="steps-descript">you upload an image</div>
  </mat-card>
  <mat-card class="classify">
    <h2 class="steps">2</h2>
    <div class="steps-descript">we analyze the image</div>
  </mat-card>
  <mat-card class="getresult">
    <h2 class="steps">3</h2>
    <div class="steps-descript">image classification</div>
  </mat-card>
  <div class="button-area">Click here</div>
</div>