<ion-header>

  <ion-navbar>
    <ion-title>Send Feedback</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">Back</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p class = " instructions">
    Please tell us anything you like, don't like, or really hate, and then do the same but specifically about this app, thanks!
  </p>

  <form [formGroup]="myGroup"  *ngIf="!submitted" >
 
    <ion-item class="inputs">
      <ion-label class = 'bob' color="secondary" stacked>Select feedback type</ion-label>
      <ion-select required formControlName="feedType">
        <ion-option *ngFor="let f of feedType" [value]="f">{{ f }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="inputs">
      <ion-label class = 'bob' color="secondary" stacked>Full Name</ion-label>
      <ion-input id="name" type="text" placeholder="Enter your full name" required formControlName="name"></ion-input>
    </ion-item>
    <ion-item class="inputs">
      <ion-label class = 'bob' color="secondary" stacked>Message</ion-label>
      <ion-textarea id="message" type="text" placeholder="Enter your message" required formControlName="message"></ion-textarea>
    </ion-item>
    
  </form>

  <button ion-button full round color= "tertiary" [hidden]="!myGroup.valid" (click)="onSubmit()">Send</button>

</ion-content>
