<!-- /**
 * File Name:       feedback.html
 * Version Number:  v1.1
 * Author:          Orisha Orrie, Tobias Bester
 * Project Name:    Ninshiki
 * Organization:    Software Sharks
 * User Manual:     Refer to https://github.com/OrishaOrrie/SoftwareSharks/blob/master/Documentation/User%20Manual.pdf
 * Update History:
 * ------------------------------------------
 * Date         Author		Description
 * 20/07/2018   Orisha		Created component
 * 15/08/2018   Tobias    Added backend functionality
 * 18/09/2018   Orisha    Fixed layout
 * ------------------------------------------
 * Functional Description:
 *  This page includes ways to contact the Bramhope group or Sfotware Sharks in order to 
 *  report any issues. Issues can be reported either through github or through email.
 */ -->
<ion-header>

  <ion-navbar>
    <ion-title>Send Feedback</ion-title>
    <ion-buttons end>
      <button style="color: white" ion-button (click)="closeModal()">Back</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p class = " instructions">
    Please tell us anything you like, don't like, or really hate, and then do the same but specifically about this app, thanks!
  </p>

  <form [formGroup]="myGroup"  *ngIf="!submitted" >
<!--  Type of feedback can be 'General Feedback', 'Bug', 'Feature Request' -->
    <ion-item class="inputs">
      <ion-label class = 'bob' color="secondary" stacked>Select feedback type</ion-label>
      <ion-select required formControlName="feedType">
        <ion-option *ngFor="let f of feedType" [value]="f">{{ f }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="inputs">
      <ion-label class = 'bob' color="secondary" stacked>Full Name</ion-label>
      <ion-input id="name" type="text" placeholder="Enter your full name" required formControlName="name"></ion-input>
    </ion-item>
    <ion-item class="inputs">
      <ion-label class = 'bob' color="secondary" stacked>Message</ion-label>
      <ion-textarea id="message" type="text" placeholder="Enter your message" required formControlName="message"></ion-textarea>
    </ion-item>
    
  </form>

  <button ion-button full round color= "tertiary" [hidden]="!myGroup.valid" (click)="onSubmit()">Send</button>

</ion-content>
