<section id="model" style="margin-bottom: 100px">
  <div class="container-fluid border-bottom p-2">
    <div class="row align-items-center">
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
        <h1 class="page-title">Custom Models</h1>
      </div>
      <div class="col-xl-7 col-lg-6 col-md-6 col-sm-6 col-12 ml-auto">
        <div class="card">
          <div class="card-body">
            <div class="card-text">
              <div class="row">
                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
                  <h4 class="card-title mt-0 mb-sm-1 mb-md-1 mb-lg-1 mb-xl-0 text-center">Create a New Model</h4>
                </div>
                <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12 ml-auto">
                  <button class="btn btn-dark w-100" type="button" (click)="goToModelsEdit()">Create Model</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="modelsService.modelsObservable | async as models; else loading">
    <div class="card-deck my-4">
      <div class="row mx-0" style="width: 100%">
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 my-2" *ngFor="let model of models; index as i">
          <div class="card">
            <div class="card-header bg-dark text-light align-middle lead">{{ model.name }}
              <div class="float-right">
                <app-dash-models-edit [model]="model" [val]="i"></app-dash-models-edit>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ model.name }}</h5>
              <p>
                <small class="text-muted"> UID: {{ model.id }}</small>
              </p>
              <button class="btn btn-dark" type="button" data-toggle="collapse" [attr.data-target]="'#collapse'+i"
                aria-expanded="false" [attr.aria-controls]="'collapse'+i">
                View Categories
              </button>
              <div class="collapse" [attr.id]="'collapse'+i">
                <div class="card my-2">
                  <div class="card-body">
                    <div class="card-text">
                      <div class="row">
                        <div *ngFor="let cat of model.categories" class="col-xl-12 col-lg-12 col-md-12 col-sm-6 col-12">
                          <button type="button" class="btn btn-outline-dark btn-cat m-1 w-100" style="white-space:normal;"><span>{{ cat }}</span><i
                              class="fa fa-minus-circle" aria-hidden="true"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div *ngIf="model.trained; then trained else untrained"></div>
              <hr>
              <small class="text-muted">Last updated 3 mins ago</small>
              <div class="float-right"><a class="btn btn-danger text-light" (click)="deleteModel(model.id)"><i class="fa fa-trash-o"></i>
                  Delete</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<!-- NG TEMPLATES -->

<!-- Loading -->
<ng-template #loading>
  <div class="container-fluid h-100 my-4">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="col-auto">
            <h2><i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i>Loading...</h2>
        </div>
      </div>
  </div>
</ng-template>

<!-- addModel -->
<ng-template #addModel>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Create a New Model</h5>
      <p class="card-text">
        <button class="btn btn-dark" type="button" (click)="goToModelsEdit()">Create Model</button>
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Something cool might happen!</small>
    </div>
  </div>
</ng-template>

<!-- Untrained -->
<ng-template #untrained>
  <p class="lead text-center">Not Trained</p>
</ng-template>

<!-- Untrained -->
<ng-template #trained>
  <p class="lead text-center">Trained</p>
</ng-template>