<section id="model">
  <div class="d-flex p-2 justify-content-start border-bottom">
    <h1>Custom Models</h1>
  </div>

  <div *ngIf="modelsService.modelsObservable | async as models; else loading">
    <div class="card-deck my-4">
      <div class="row mx-0" style="width: 100%">
        <div class="col-4 my-2" *ngFor="let model of models; index as i">
          <div class="card" *ngIf="i >= 1; else addModel">
            <div class="card-body">
              <h5 class="card-title">{{ model.name }}</h5>
              <p>
                <button class="btn btn-dark" type="button" data-toggle="collapse" [attr.data-target]="'#collapse'+i"
                  aria-expanded="false" [attr.aria-controls]="'collapse'+i">
                  View Categories
                </button>
              </p>
              <div class="collapse" [attr.id]="'collapse'+i">
                <div class="card-text">
                  <ul>
                    <li *ngFor="let cat of model.categories">
                      {{ cat }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div *ngIf="model.trained; then trained else untrained"></div>
              <hr>
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<!-- NG TEMPLATES -->

<!-- Loading -->
<ng-template #loading>
  <div class="container-fluid">
    <h3><i class="fa fa-spinner"></i> - Models Loading...</h3>
  </div>
</ng-template>

<!-- addModel -->
<ng-template #addModel>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Create a New Model</h5>
      <p class="card-text">
        <button class="btn btn-dark" type="button" (click)="goToModelsEdit()">Create Model</button>
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Something cool might happen!</small>
    </div>
  </div>
</ng-template>

<!-- Untrained -->
<ng-template #untrained>
  <p class="lead text-center">Not Trained</p>
</ng-template>

<!-- Untrained -->
<ng-template #trained>
  <p class="lead text-center">Trained</p>
</ng-template>