<section id="model" class="my-5">
  <div class="d-flex p-2 justify-content-start border-bottom">
    <h1>Custom Models</h1>
  </div>
  <div class="container-fluid">
    <div *ngIf="modelsService.modelsObservable | async as models">
      <div>
        <p>Hello</p>
        <ul>
          <li *ngFor="let model of models">
            Testing: {{ model.Name }}
          </li>
        </ul>
        <!-- <p>{{ models }}</p> -->
      </div>
    </div>
    <!-- <li *ngFor="let model of modelsObservable | async as models; index as i; first as isFirst">
      {{i}}/{{models.length}}. {{model}} <span *ngIf="isFirst">default</span>
   </li> -->
  </div>
</section>